.sidebar-left{
    background-color: #112134;
    color: white;
    text-decoration: none;
    height: 100%;
    position: fixed;
    top:7%;

}
.side-nav>li{
    padding: 4% 2% 2% 5%;
    margin-top: 10%;
    font-size: 1.3em;
}
.side-nav>a{
    float: left;
    text-align: center;
}

.sidebar-ul>a:hover,a:active,a:link,a:visited{
    text-decoration: none;
    color: white;
}

.side-nav>li:hover{
    background-color: #FCAD0E;
    z-index: 500;
}
.sidebar-icon{
    padding-right: 5%;
}
.panel-navbar{
    background-color: #FCAD0E;
    position: fixed;
    width: 100%;
    height: 8%;
    z-index: 2;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.logo-panel{
    position: absolute;
    left: 0;
    background-color: #de990d;
    height: 100%;
    padding-top: 0.7%;

}
.main-content{
    padding-left: 20%;
    padding-top: 5%;

}

.btn-blue{
    background-color: #112134;
    color: white;
}
.btn-orange{
    background-color: #FCAD0E;
    color: white;
}

.bg-orange{
    background-color: #FCAD0E;
}
.bg-blue{
    background-color: #112134;
}

