.sidebar-left{
    background-color: #112134;
    color: white;
    text-decoration: none;
    height: 100%;
    position: fixed;
    top:7%;

}
.side-nav>li{
    padding: 4% 2% 2% 5%;
    margin-top: 10%;
    font-size: 1.3em;
}
.side-nav>a{
    float: left;
    text-align: center;
}

.left-sidebar-link:visited{
    text-decoration: none;
    color: white;
}
.left-sidebar-link:active{
    text-decoration: none;
    color: white;
}
.left-sidebar-link:hover{
    text-decoration: none;
    color: white;
}
.left-sidebar-link:link{
    text-decoration: none;
    color: white;
}


.side-nav>li:hover{
    background-color: #FCAD0E;
    z-index: 500;
}
.sidebar-icon{
    padding-right: 5%;
}
.panel-navbar{
    background-color: #FCAD0E;
    position: fixed;
    width: 100%;
    height: 8%;
    z-index: 2;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.logo-panel{
    position: absolute;
    left: 0;
    background-color: #de990d;
    height: 100%;
    padding-top: 0.7%;

}
.main-content{
    padding-left: 20%;
    padding-top: 5%;

}

.btn-blue{
    background-color: #112134;
    color: white;
}
.btn-orange{
    background-color: #FCAD0E;
    color: white;
}

.bg-orange{
    background-color: #FCAD0E;
}
.bg-blue{
    background-color: #112134;
}

/*Testing*/

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #FCAD0E;
}

/*Preset of ofject links*/

.page-item.active .page-link {
    z-index: 1;
    color: #000000;
    background-color: #FCAD0E;
    border-color: #FCAD0E;
}
.page-link {

    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
a.page-link:hover{
    color: black;
}

#second_Menu li a{
    color: #112134;
    font-weight: bold;
}
#second_Menu{
    float: right;
    width: 30%;
}

#top-image{
    width: 100%;
    height: 70%;
    position: relative;
    background-image: url("../img/laptop-3087585.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;

}
#bottom_statistics{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    bottom: 5%;
    position: absolute;
    text-align: center;
}

#help_Div{
    width: 80%;
    height: 5%;
    margin-left: 10%;
    background-color: #112134;
    bottom: 0;
    position: absolute;
}


#statistics{
    width: 80%;
    height: 30%;
    margin-left: 10%;
    background-color: #112134;
    background-position: bottom;
    background-size: 100% 90%;
}
.statistics_Text{
    font-size: 30px;
    font-weight: bold;
    color: #112134;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
}
#rounded_div{
    width: 40%;
    height: 100%;
    background-color: black;
    display: inline-block;
    float: left;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 70%;

}

#right_text_info{
    width: 50%;
    height: 100%;
    background-color: #063061;
    opacity: 50%;
    float: right;
    text-align: center;
    /*!*border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;*!
    !*border-radius: 66% 34% 70% 30% / 47% 30% 70% 53% ;*!
    border-radius: 48% 28% 10% 73% / 18% 64% 10% 61% ;*/
}
#first_paragraph{
    color: white;
    font-size: 25px;
    margin-top: 20%;
}
#second_paragraph{
    color: white;
    font-size: 20px;
    margin-top: 1%;
}

#left_text_info{
    width: 50%;
    height: 100%;
    float: left;
    background-color: black;
    opacity: 50%;
}




